@media (max-width:750px) {
    
    .works-navigation {
    	flex-direction: column;
    	text-align: left;
    	align-items: flex-start;
    }
    .works-navigation-items ul {
	    flex-direction: column;
	}
	.works-navigation-items li {
		margin-top: 10px;
	}

}

@media (max-width:768px) {
    .navbar {
        background-color: rgba(0,0,0,0.5)
    }
    .active-link {
	    border-bottom: none;	
    }
}

@media (max-width:991px) {
    .team-worker {
        margin-bottom: 30px;
    }
    .sevices-content-item {
        margin-bottom: 30px;
    }
	.form-email, .form-password {
        padding: 0;
    }
    .form-password {
        margin-top: 30px;
    }
    .footer-content {
        flex-direction: column;
    }
}